global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: set-anchor
    metrics_path: /metrics
    static_configs:
      - targets: ["host.docker.internal:9090"]
